.container {
  height: 100vh;
  min-height: 100vh;
}

.container::after {
  content: "";
  background: url('../assets/images/Runeterra_Map.jpg') center;
  background-size: cover;
  filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
