@import "global";

.container:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('../components/assets/images/Runeterra_Map.jpg') !important;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  animation: chbg 15s infinite alternate;
  z-index: -1;
}
