@import './src/styles/settings';

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 500px;
  margin: 48px auto;
  border: 2px solid $color-alpha;
  box-shadow: rgba(0, 0, 0, 0.45) 0 19px 38px,
  rgba(0, 0, 0, 0.67) 0 15px 12px;
  overflow: hidden;
}

.headerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/images/mapa2.jpeg');
  position: absolute;
  top: -10%;
  right: -5%;
  bottom: -5%;
  left: -5%;
}
