@import './src/styles/settings.scss';

.area {
  margin-bottom: 20px;
  background-color: $color-areaBackground;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.description {
  color: #000000;
  margin-top: 10px;
  font-size: 0.8rem;
  margin-bottom: 0;
}
